@import "tailwindcss";
@plugin "daisyui" {
  /* themes: ["light", "dark"], */
  darkTheme: "dark",
  base: true,   // keep base styles
  logs: false,
  styled: true,
  rtl: false,
  prefix: "",
  dataTheme: true, // <- disables automatic data-theme
}
@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
  scrollbar-color: #ff1a1a #ffffff14;
}

body {
  font-family: 'Inter', sans-serif;
}


@layer utilities {
  @keyframes lights-on {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.1;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes lights-off {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .dark-bg-diagonal {
    position: relative;
    overflow: hidden;
  }

  .dark-bg-diagonal::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #18181b;
    z-index: -1;
    opacity: 0;
  }

  /* Lights ON (dark mode enabled) */
  .dark .dark-bg-diagonal::before {
    animation: lights-on 0.6s ease-out forwards;
  }

  /* Lights OFF (dark mode disabled) */
  .light .dark-bg-diagonal::before {
    animation: lights-off 0.3s ease-in forwards;
  }
}
